:root {
    --body-font: 'Raleway', sans-serif;
    --light-white: #fffbfb;
    --light-gray: #f0eef1;
    --dark-gray: #c0c0c0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: var(--body-font);
    line-height: 1.5;
    background-color: var(--light-gray);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 100px 1fr 100px;
    gap: 2rem;
}

/* Header */
.header {
    background-color: var(--light-white);
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max(50%, 300px);
    height: 100%;
    margin: 0 auto;
}

.header-container button {
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.7rem;
    background-color: var(--light-gray);
    transition: 0.3s;
}

.header-container button:hover {
    background-color: var(--dark-gray);
    cursor: pointer;
}

/* + Add book */
.add-book-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(50%, 300px);
    margin: 0 auto;
}

.add-book-button button {
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
    font-weight: 700;
    border: none;
    border-radius: 0.7rem;
    background-color: var(--light-white);
    transition: 0.3s;
}

.add-book-button button:hover {
    background-color: var(--dark-gray);
    cursor: pointer;
}

/* Form for user input */
.form-container {
    background-color: var(--light-gray);
    display: none;
    position: absolute;
    width: 300px;
    height: 390px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.500); /* background is black when form is active */
    border-radius: 0.7rem;
   
}

.form-container > #input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    height: 100%;
    padding: 1.3rem;
}

.form-container > #input-form div {
    width: 100%;
}

.form-container > #input-form div:first-child {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}

.form-container > #input-form input,
.form-container > #input-form button {
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 0.8rem;
    border-radius: 0.7rem;
    border: none;
}

.form-container > #input-form input::placeholder {
    font-size: 1.2rem;
}

.form-container > #input-form button {
    background-color: white;
    transition: 0.5s;
}

.form-container > #input-form button:hover {
    cursor: pointer;
    background-color: var(--dark-gray);
}

.form-container > #input-form div:nth-of-type(5) {
    width: 75%;
    display: flex;
    gap: 1.3rem;
}

.form-container > #input-form div:nth-of-type(5) label {
    font-size: 1.2rem;
    font-weight: 500;
    flex-shrink: 0;
}

/* Central Book Cards */
.book-cards-container {
    width: max(50%, 300px);
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    align-content: start;
}

.book-cards-container div {
    height: 280px;
    background-color: var(--light-white);
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.7rem;
}

.book-cards-container div > p:nth-of-type(1) {
    font-weight: 700;
}

.book-cards-container div > button {
    background-color: var(--light-gray);
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-radius: 0.7rem;
}

/* Footer */
.footer {
    background-color: var(--light-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}