:root {
    --body-font: 'Raleway', sans-serif;
    --light-white: #fffbfb;
    --light-gray: #f0eef1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: var(--body-font);
    line-height: 1.5;
    background-color: var(--light-gray);
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 100px 1fr 100px;
}

/* Header */
.header {
    background-color: var(--light-white);
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max(50%, 300px);
    height: 100%;
    margin: 0 auto;
}

/* + Add book */
.add-book-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(50%, 300px);
    margin: 0 auto;
}

/* Form for user input */
.form-container {
    display: none;
    position: absolute;
    width: 400px;
    height: 450px;
    border: 5px solid red;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.form-container > #input-form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

/* Central Book Cards */
.book-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(50%, 300px);
    margin: 0 auto;
}

.book-cards-container div {
    width: 100px;
    height: 100px;
    background-color: var(--light-white);
}

/* Footer */
.footer {
    background-color: var(--light-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}